[type="file"] {
  display: none;
}

html {
  overflow-y: scroll;
}

body {
  height: 100vh;
}

main {
  min-height: calc(100vh - 50px);
}

footer {
  height: 50px;
}

.collection-item {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.valign-wrapper .material-icons {
  margin-right: 1rem;
}