.w100 {
  width: 100%;
}
[type="file"] {
  display: none;
}
td {
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}
thead th,
tr td:first-child,
tr td:last-child {
  text-align: center;
}